<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55640900910-l8kll0bn569u1cf8tsg2uvtckftk787c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55640900910-l8kll0bn569u1cf8tsg2uvtckftk787c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55640900910-5a3nl97tl5qfaknhaerf58ai5gvscnr6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALUMbbkr5ZYpulBhee1kAwbwAhW6H-cxE</string>
	<key>GCM_SENDER_ID</key>
	<string>55640900910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuwrir.customer</string>
	<key>PROJECT_ID</key>
	<string>kuwrir-3495d</string>
	<key>STORAGE_BUCKET</key>
	<string>kuwrir-3495d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55640900910:ios:676a5723840abb851d26bf</string>
</dict>
</plist>